.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 254px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* 定位 */
    position: absolute;
    z-index: 1;
    bottom: 100%; /* 将提示框放在元素上方 */
    left: 50%;
    margin-left: -127px; /* 使用负边距向左移动一半宽度以居中 */
  
    /* 淡入动画 */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* 显示提示文本 */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }